:root {
   --primaryColor: black;
   --secondaryColor: rgb(0, 0, 0);

   --lightColor: #fffefa;
   --bgcolor-1: #3db973b1;
   --bgcolor-2: #2E4053;
   
   --padding: 8%;
}

* {
   margin: 2px;
   padding: 2px;
   box-sizing: border-box;
}

html {
   font-family: 'Josefin Sans', sans-serif;
   font-size: 16px;
   color: var(--lightColor);
}

.home {
   width: 100%;
   height: 100vh;
   background-color: var(--bgcolor-1);
   display: flex;
   flex-direction: column;

 
}
 /* .home image{
    width: 60px;
    height:60px.
    /* p.groove {border-style: groove;}     */

  */

span {
   color: var(--primaryColor);
}
   
p{
   color:var(--secondarycolor);
   letter-spacing: 1px;
      column-count: 3;
   
   /* line-height: 1.8 rem;
   font-size:1 rem; */
   /* align-items: center;
   justify-content: space-around;
 */}

 /* .column {
   flex-basis: calc(50% - 10px); 
   margin-bottom: 20px; } */

nav {
   padding-top: 2.8rem;
   padding-left: var(--padding);
   padding-right: var(--padding);
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: column;

}

nav ul li {
   list-style-type: none;
   display: inline-block;
   margin: 0.8rem 1.5rem;
}

.links {
   color: var(--lightColor);
   text-decoration: none;
   text-transform: capitalize;
   transition: 0.4s;
}

.links:hover {
   color: var(--primaryColor);
}

.btn {
   background-color: var(--primaryColor);
   color: var(--lightColor);
   text-decoration: none;
   font-weight: bold;
   padding: 0.8rem 1.87rem;
   border-radius: 30px;
   border: 2px solid transparent;
   transition: 0.4s;
}

.btn:hover {
   background-color: transparent;
   border: 2px solid var(--primaryColor);
}

.content {
   padding: 0 var(--padding);
   flex-grow: 1;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.container-text {
    position: relative;
    bottom: 70px;
}


.AIJournalism {
   width: 100%;
   /* height: 500vh; */
   background-color: var(--bgcolor-2);
   display: flex;
   flex-direction: column;
   align-self:flex-end
     
 

}

span ul li {
    display:inline-block;
    margin: 0 6px;
    letter-spacing: 0;
    

}
.tittlead{
   letter-spacing: 4px;
   margin-top: 60px;
   margin-bottom: 0;
   font-size: 33px;
}
body{
   height: 100vh;
   width: justify center;
   /* display: flex; */
  
   
   background-color: #3db973b1 ;
   

}

h1{
   font: size 15rem;
   margin:1.7 rem;
   text-align: center;
   margin: 2px;
   padding: 2px;
   box-sizing: border-box;
   display:fiex-end;

}

   h2 {
       font-size: 2.2rem;
       letter-spacing: 0.12rem;
        cursor: pointer;
}
h3{
   font: size1.5rem;
   margin:1.7 rem;
   color: var(--secondaryColor);

}

h4{  font: size1.25rem;
   letter-spacing:  0.12rem; 
   color:antiquewhite


}

h5 {
   font-size: 1.37rem;
   margin-bottom: 1.5rem;
   letter-spacing: 2px;
}

nav > h2 > p {
   padding: 3px;
 
}

/* .social{
 margin-top: 3.5rem; */


.social img{
 margin-right: 6 rem;
 width: 5.5rem;
 transition: 0.40s;

}

.social img:hover{
  transform: scale(1.2);


}
 .home.container-images{
   width: 45%;
   height: 90%;
   position:relative;
   background-color:lightcolor;
   align-self:flex-end

}

.home .container-images img {
   position: absolute;
   bottom: 0%;
   left: 50%;
   transform: translateX(-50%);
   transition: bottom 1s, left 1s;
}


   /* .home.container-images:hover .shape {
      bottom:40px;
   } 
.home.container-images:hover .shape .pic{
   left:45%;} */
 




#AIJournalism{
   margin-top: 350px;
   color:black
   
}

.about {
   background-color: var(--bgcolor-2);
   padding: 2rem var(--padding);
   display: flex;
   /* // used as to put items next to others */
   align-items: center;
   justify-content: space-around;
}


.container-images{
   width: 75px;
   display: inline-block;
}
.container-images img {
   width: auto;
}
.container-texts {
   width: 75%;
   color: grey;
   display: inline-block;
}


.Services{
   background-color: var(--bgcolor-2);
   padding:2 rem var(--padding)
   
}

.text-center{
   text-align: center;



}

.box {
   display: flex;
   justify-content: space-between;
}



.card {
   width: 300px;
   background-color: var(--bgcolor-2);
   border-radius: 200px;
   padding: 1.3rem 2rem; 
   text-align: center;
   border-radius: 20;
   float: left;
}


.card em{
     font-size: 3.12 rem;
     text-align:  center;
     color: var(--secondaryColor);
     margin:2 rem;
     border-radius: 20;

}

/* .Skills {
   background-color: var(--bgcolor-2);
   padding: 2rem var(--padding); 
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 200px;
} */

 
 .container-images{
    width:auto;
 }
 .container-images img {
    width: 90%;
 }

 .Skills  h5{ display: flex;
justify-content: center;}


/* 


.Skills.container-skills{
    width: 50%;


 }
 .Skills.container-texts{
    width: 35%;
 }
 .content skills{
   display: flex;
   flex-wrap: wrap;
   margin-top: 4 rem ;

 }
 .Skills {
   width: 100px;
   height: 100px;
   background-color: var(--lightColor);
   border-radius: 50%;
   margin: 0.2rem 0.2rem;
   display: flex;
   align-items: center;
   justify-content: center;
}


 .Skills img{
     width:70%;


 } 
 */

 footer {
   padding: 2rem var(--padding);
   background-color: var(--bgcolor-2);
}


 footer .content.footer{
    display:flex;
    -ms-flex-direction: column;
    align-items: csnter;
    justify-content:center;

 }
 footer .content.footer p{
    color: var(--lightColor);
    text-align:center;
     width: 500px;
     margin-top: 1 rem;

 }

 footer .content.footer :end{
   color: var(--primaryColor);
  margin-top: 1 rem;
    width: 500px;
    
}
/* #asd{
   flex-wrap:wrap;
   flex-direction: row;
} */

#service{
   width: 20%;
   margin: auto;
}

i:hover{
   background-color: rgb(169, 236, 169);
   width: auto;
}
